/*фоновый цвета*/
/*Цвет хедера #FFFFFF*/
/*Цвет героя цвет футера #2F303A*/
/*цвет секций #E5E5E5*/
/*цвет нашей команды #F5F4FA*/
/*первичный цвет текста #757575;*/
/*вторичный цвет текста  #212121; */
/*акцент #2196F3;*/
/* белый #FFFFFF*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bg-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;

    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
  }
  header {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid #ECECEC;
  }
  /*------Container-----*/
  .container {
    width: 1200px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
  }
  .header-block {
   display: flex;
   align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
    height: inherit;
  }
  .site-nav {
    display: flex;
  }
  .contacts {
    margin-left: 331px;
    display: flex;
    align-items: center;
  }
  .contacts li:last-child {
    margin-left: 50px;
  }
  /*Site nav*/
  .logo {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;

    color: var(--title-text-color);
  }
  .logo .accent {
    color: var(--accent-color)
  }
  .site-nav li:not(:last-child) {
    margin-right: 50px;
  }
  .link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--title-text-color);
  }
  .site-nav .link.current {
    color: var(--accent-color);
  }
  .site-nav .link:hover,
  .site-nav .link:focus,
  .contacts .info:hover,
  .contacts .info:focus {
    color: var(--accent-color);
  }
  .contacts .info {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--primary-text-color);
  }
  /*Hero*/
  .hero {
    color: var(--primary-bg-color);
    background-color: #2F303A;
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
  .hero-title {
    margin: 0 auto;
    width: 696px;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  /*Button*/
  .hero-button {
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;
    outline: none;
    border: none;

    color: var(--primary-bg-color);
    background-color: var(--accent-color);
  }
  .features-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .features-title-descriptions {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  /*Sections*/
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.features-box {
  padding-top: 94px;
  padding-bottom: 94px;
}
  .features-list {
    display: flex;
    justify-content: space-between;
  }
  .features-item {
    width: 270px;
  }
  .section {
    background-color: #fff;
  }
  .we-do-sec {
    margin-bottom: 94px;
  }
  .we-do-list {
    display: flex;
    justify-content: space-between;    
  }

  /* ___________Наша команда_____ */
  .section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

  .section-team {
    padding-top: 94px;
    padding-bottom: 50px;
    background-color: #F5F4FA;
  }
  .team-list {
    display: flex;
    justify-content: space-between;
  }
    .team-item {
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  .title {
    padding-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
  .text {
    color: var(--title-text-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
  .team-card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /*Footer*/
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
  }
  .logo.footer {
    display: block;
    margin-bottom: 20px;
    color: var(--primary-bg-color)
  }
  .adress {
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    font-style: normal;
    color: #fff;
  }
  .info-links {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-list li:not(:last-child) {
    margin-bottom: 9px;
  }
  /*Портфолио*/
  .portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border: none;
  }
  .pfl-list li:not(:last-child) {
    margin-right: 8px;
  }
  .link .portfolio-button-current {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
  }
  .pfl-list {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .portfolio-button {
    padding: 6px 22px 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em
  }
  .portfolio-button:hover,
  .portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 94px;
  }
  .gallery-item {
    width: 370px;
    border: 1px solid #EEEEEE;
    margin-left: 30px;
    margin-top: 30px;
  }
  .portf-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: center;

    color: var(--title-text-color)
  }
  .portf-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    color: var(--primary-text-color)
  }
 

